* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container1 {
  position: relative;
  width: 1347px;
  height: 1177px;
  position: relative;
  /* filter: brightness(50%); */
  top: -1px;
  left: 1px;
  z-index: -1;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.81) 0%,
    rgba(72, 72, 72, 0) 31.25%,
    rgba(158, 158, 158, 0) 77.6%,
    #ffffff 85.42%
  );
}
.img1 {
  width: 1729px;
  height: 1177px;
  filter: brightness(50%);
}
.header {
  color: #ffffff;
  z-index: 3;
}
.travelgo {
  position: absolute;
  left: 136px;
  top: 31px;
}
.travel {
  font: Laila;
  font-weight: 700;
  font-size: 24px;
  line-height: 24.6px;
  align-items: center;
}
.goo {
  font: Laila;
  font-weight: 700;
  font-size: 32px;
  line-height: 32.8px;
  align-items: center;
}
.menu {
  position: absolute;
  top: 58px;
  left: 673px;
  width: 382px;
  height: 27px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  padding-left: 30px;
}
.fa-star-o::before {
  font-size: 36px;
}
.fa-star-o {
  width: 36px;
  position: absolute;
  height: 36px;
  top: 53px;
  left: 1466px;
  color: orangered;
}
.fa-user-circle {
  width: 48px;
  position: absolute;
  height: 36px;
  top: 47px;
  left: 1536px;
}
.container-text1 {
  position: absolute;
  text-align: center;
  font-size: 75px;
  font-weight: 800;
  color: #ffffff;
  width: 679px;
  height: 204px;
  top: 366px;
  left: 475px;
  font-family: "Open Sans";
}
.container-text2 {
  position: absolute;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  width: 468px;
  height: 44px;
  top: 600px;
  left: 580px;
  font-family: "Open Sans";
}
.container-button {
  width: 214px;
  height: 60px;
  background: rgba(0, 166, 81, 1);
  position: absolute;
  top: 693px;
  left: 728px;
  z-index: 1;
  border-radius: 10px;
}
.container-button button {
  border: none;
  outline: none;
  box-shadow: none;
  background: none;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 4;
  font-size: 24px;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
}
.services {
  /* padding-top: 71px; */
  font-family: "Open Sans";
}
.ourservices {
  /* width: 230px;
  height: 54px; */
  /* padding-left: 580px; */
  text-align: center;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 30px;
}
.content {
  background: #ffffff;
  padding: 50px;
  text-align: left;
  display: flex;
  height: 100hv;
  width: 100%;
  justify-content: space-between;
}
.container2 {
  width: 500px;
  background-color: #f9f9f9;
  /* border: 1px solid #444; */
  border-radius: 15px;
  padding: 20px;
  margin: 20px;
}
.container2:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.fa-ticket::before {
  color: #32df8f;
  font-size: 46px;
}
.fa-home::before {
  color: rgba(0, 184, 224, 1);
  font-size: 39.38px;
}
.fa-paper-plane-o::before {
  color: rgba(228, 139, 120, 1);
  font-size: 38.5px;
}
.container2 p {
  font-size: 16px;
}
.record {
  font-family: "Open Sans";
}
.record1 img {
  height: 733px;
  width: 1751px;
  background-color: rgba(0, 88, 83, 0.05);
  position: relative;
}
.record1 h2 {
  position: absolute;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  width: 518px;
  height: 108px;
  top: 1566px;
  left: 505px;
  font-family: "Open Sans";
}
.rec-para {
  position: absolute;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  width: 495px;
  height: 44px;
  top: 1693px;
  left: 516px;
  font-family: "Open Sans";
}
.cover {
  top: 1955px;
  position: absolute;
  padding: 50px;
  text-align: center;
  display: flex;
  height: 100hv;
  width: 100%;
  justify-content: space-between;
}
.record2 {
  width: 250px;
  background-color: #f9f9f9;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
}
.record2 i {
  color: rgba(0, 95, 21, 1);
}
.record2 h2 {
  padding-top: 16px;
}
/* .record2 p {
  width: 91px;
  text-align: center;
  padding-left: 29px;
} */
.header2 {
  text-align: center;
  padding-top: 30px;
  font-weight: 700;
  font-size: 40px;
}
.img-content {
  display: flex;
}
.img-content .imgg img {
  width: 1000px;
  height: 772px;
  /* background-color: rgba(0, 88, 83, 0.05); */
}
.place-cards {
  padding-left: 70px;
  padding: 50px;
  text-align: center;
  height: 100hv;
  width: 100%;
  justify-content: space-between;
}

.card {
  width: 550px;
  display: flex;
  background-color: #f9f9f9;
  border-radius: 15px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.place-cards .card .img4 img {
  width: 123px;
  height: 123px;
}
.place-cards .card p {
  padding-top: 61px;
  padding-left: 90px;
  font-size: 20px;
  font-weight: 600;
}
.best-services {
  background-color: rgba(236, 241, 240, 1);
  font: "Open Sans";
  width: 100%;
}
.header3 {
  text-align: center;
  padding-top: 30px;
  font-weight: 700;
  font-size: 40px;
}
.service-name {
  display: flex;
  padding: 50px 50px 0 50px;
  text-align: center;
  height: 100hv;
  width: 100%;
  justify-content: space-between;
}
.service-name p:hover {
  background-color: rgba(0, 166, 81, 1);
}
.service-name p {
  width: 180px;
  display: flex;
  background-color: rgba(102, 102, 102, 1);
  border-radius: 10px;
  color: rgba(255, 255, 255, 1);
  justify-content: center;
  padding: 10px;
  margin: 20px;
}
.content2 {
  display: flex;
  /* padding-left: 70px; */
  text-align: center;
  height: 100hv;
  width: 100%;
  justify-content: space-around;
}
.card2 {
  width: 390px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 15px;
  color: rgba(0, 0, 0, 0.81);
  justify-content: center;
  margin: 20px;
}
.best-services .content2 .card2 img {
  width: 390px;
  height: 270px;
  border-radius: 10px 10px 0 0;
}
.part2-part {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  padding: 0 20px 20px 20px;
}
.part2-part2 {
  display: flex;
  font: 16px;
  justify-content: space-between;
  padding: 0 20px 20px 20px;
}
.discription {
  font: 16px;
  padding-bottom: 20px;
}

.container-button2 {
  width: 214px;
  height: 60px;
  z-index: 1;
  background: rgba(0, 166, 81, 1);
  border-radius: 10px;
  margin-left: 700px;
  margin-top: 50px;
}
.container-button2 button {
  border: none;
  outline: none;
  box-shadow: none;
  background: none;
  position: relative;
  padding: 20px;
  z-index: 3;
  font-size: 24px;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
}
.next-trip {
  font: "Open Sans";
}
.header4 {
  text-align: center;
  padding-top: 50px;
  font-weight: 700;
  font-size: 40px;
}
.header5 {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  padding-bottom: 50px;
}
.next-trip1 {
  display: flex;
  justify-content: space-evenly;
}
.card3 {
  display: flex;
  padding: 35px;
  height: 100hv;
  width: 400px;
}
.card3 i {
  width: 65.21px;
  height: 65.21px;
  border-radius: 13px;
  position: relative;
}
#i1 {
  background-color: rgba(240, 187, 31, 1);
}
#i2 {
  background-color: rgba(241, 90, 43, 1);
}
#i3 {
  background-color: rgba(0, 99, 128, 1);
}
.fa-square-o::before {
  color: rgba(255, 255, 255, 1);
  position: absolute;
  font-size: 30.54px;
  padding: 20px;
}
.fa-swimmer::before {
  font-size: 30.52px;
  color: rgba(255, 255, 255, 1);
}
.fa-taxi::before {
  font-size: 30.52px;
  position: absolute;
  color: rgba(255, 255, 255, 1);
  padding: 17px;
}
.content4 {
  width: 453.66px;
  padding-left: 50px;
}
.next-trip2 img {
  width: 321px;
  height: 161px;
  border-radius: 24px;
}
.next-trip2 {
  padding-left: 70px;
  padding: 20px;
  /* border: 1px solid black; */
  box-shadow: 10px 20px 30px rgba(89, 177, 230, 1);
  border-radius: 20px;
  margin-bottom: 50px;

  background-color: rgba(255, 255, 255, 1);
}
.next-trip2 h3 {
  padding: 20px;
}
.next-trip2 p {
  padding: 0 0 20px 20px;
}
.is i {
  padding: 0 20px 20px 20px;
}
.lower {
  display: flex;
  justify-content: space-between;
}
.People-review {
  background-color: rgba(236, 241, 240, 1);
}
.People-review .card4 .firstImg img {
  width: 1028px;
  height: 536px;
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  position: relative;
}
.card4 .secondImg {
  width: 148px;
  height: 148px;
  border-radius: 50%;
  position: absolute;
  z-index: 3;
  top: 5030px;
  left: 740px;
}
.card4 p {
  width: 450px;
  font-family: Poppins;
  text-align: center;
  size: 20px;
  position: absolute;
  z-index: 1;
  top: 5120px;
  left: 584px;
  background-color: #f9f9f9;
  padding: 75px;
}
.card4 h2 {
  position: absolute;
  top: 5300px;
  left: 750px;
  z-index: 3;
}
.footer {
  font-family: "Open Sans";
}
.footer-part1 {
  width: 1257px;
  height: 407px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(159, 255, 236, 1);
  border-radius: 120px 0 0 0;
  position: relative;
  margin-top: 100px;
}
.footer .footer-part1 .fa-paper-plane::before {
  color: #ffffff;
  padding: 10px;
  font-size: 30px;
  position: absolute;
  right: -2%;
  top: -2%;
  background: linear-gradient(201.65deg, #32df8f 10.27%, #005f15 100%);
  border-radius: 25px;
}
.footer-part1 h2 {
  font-size: 36px;
  color: rgba(94, 98, 130, 1);
  text-align: center;
  width: 819px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;
}
input {
  border: none;
  outline: none;
  box-shadow: none;
  background: none;
  background-color: rgba(255, 255, 255, 1);
  width: 421px;
  height: 68px;
}
.fa-envelope {
  padding: 24px;
  background-color: rgba(255, 255, 255, 1);
}
.form {
  display: flex;
  justify-content: center;
  padding-top: 90px;
}
.form button {
  width: 214px;
  height: 60px;
  background-color: rgba(0, 166, 81, 1);
  border-radius: 10px;
  border: none;
  outline: none;
  box-shadow: none;
  background: none;
  font-size: 24px;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
}
.container-button3 {
  background-color: rgba(0, 166, 81, 1);
  border-radius: 10px;
  margin-left: 30px;
}
.footer-part2 {
  display: flex;
  justify-content: space-around;
  padding: 70px 30px 50px 20px;
}
.part2-mid h2 {
  margin: 10px;
}
.part2-mid p {
  margin: 10px;
  color: rgba(94, 98, 130, 1);
}
.travel-go p {
  font-size: 13px;
  width: 200px;
}
.fa-facebook-f {
  padding: 15px;
  border-radius: 30px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  margin: 20px;
}
.fa-instagram {
  padding: 15px;
  border-radius: 30px;
  background: conic-gradient(
    from 180deg at 50% 50%,
    #b8d2f1 0deg,
    #f289aa 60deg,
    #c68bf0 106.09deg,
    #d164da 153.75deg,
    #c963e8 221.25deg,
    #bfc2e8 258.75deg,
    #ffc999 288.75deg,
    #d0d8c9 315deg,
    #bad0f1 334.13deg,
    #ced8cb 358.97deg,
    rgba(255, 255, 255, 0) 360deg
  );
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  margin: 20px;
}
.fa-linkedin-square {
  padding: 15px;
  border-radius: 30px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  margin: 20px;
}
.footer-button {
  display: flex;
}
.footer-button button {
  border: none;
  outline: none;
  box-shadow: none;
  background: none;
  background-color: rgba(8, 8, 9, 1);
  margin: 30px 30px 0 0;
  color: #ffffff;
  padding: 10px;
  border-radius: 17.5px;
}
.getiton2 {
  display: flex;
}
.fa-apple {
  font-size: 20px;
}
.footer-part2 p {
  color: rgba(94, 98, 130, 1);
}
.copy {
  text-align: center;
}
/* @media only screen and (min-width: 412px) {
  * {
    padding: 0;
    margin: 0;
  }
  .container1 {
    width: 412px;
    max-width: 430px;
    height: 1177px;
    /* background-image: url("images/img1.1.jpg"); */
/* }
  .img1 {
    width: 412px;
  }
} */
@media only screen and (max-width: 430px) {
  * {
    padding: 0;
    margin: 0;
  }
  .container1 {
    width: 375px;
    max-width: 430px;
    height: 1177px;
    background-image: url("images/img1.1.jpg");
  }
  .img1 {
    width: 375px;
  }
  .travelgo {
    left: 20px;
    top: 31px;
  }
  .menu {
    top: 58px;
    left: 100px;
    width: 200px;
    height: 27px;
  }
  nav ul {
    list-style: none;
    display: flex;
  }
  nav ul li {
    padding-left: 10px;
  }
  .fa-star-o::before {
    font-size: 36px;
  }
  .fa-star-o {
    top: 20px;
    left: 300px;
  }
  .fa-user-circle {
    font-size: 20px;
    position: absolute;
    height: 36px;
    top: 60px;
    left: 300px;
  }
  .container-text1 {
    font-size: 55px;
    width: 300px;
    /* height: 204px; */
    top: 150px;
    left: 30px;
  }
  .container-text2 {
    width: 200px;
    height: 44px;
    top: 450px;
    left: 90px;
  }
  .container-button {
    width: 100px;
    height: 50px;
    background: rgba(0, 166, 81, 1);
    position: absolute;
    top: 600px;
    left: 130px;
    z-index: 1;
    border-radius: 10px;
  }
  button {
    top: 7px;
    left: 8px;
    font-size: 16px;
  }
  .content {
    display: inline;
  }
  .container2 {
    width: 300px;
  }
  .record1 img {
    display: none;
  }
  .record1 h2 {
    position: relative;
    width: 300px;
    height: 108px;
    top: 0px;
    left: 20px;
  }
  .rec-para {
    display: none;
  }
  .cover {
    top: 20px;
    position: relative;
    left: 20px;
    display: inline;
  }
  .record2 {
    width: 250px;
    background-color: #f9f9f9;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
  }
  .record2 i {
    color: rgba(0, 95, 21, 1);
  }
  .record2 h2 {
    padding-top: 16px;
  }
  .img-content {
    display: inline;
  }
  .img-content .imgg img {
    display: none;
    /* background-color: rgba(0, 88, 83, 0.05); */
  }
  .place-cards {
    padding: 0 0 0 10px;
    text-align: center;
    height: 100hv;
    width: 100%;
    justify-content: space-between;
  }
  .card {
    width: 350px;
    display: block;
    border-radius: 0;
    padding-bottom: 20px;
    margin: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }
  .place-cards .card .img4 img {
    width: 320px;
    height: 320px;
  }
  .place-cards .card p {
    padding-top: 10px;
    padding-left: 0;
    font-size: 20px;
    font-weight: 600;
  }
  .service-name {
    display: grid;
    padding-left: 70px;
  }
  .content2 {
    display: inline;
  }
  .card2 {
    width: 350px;
  }
  .best-services .content2 .card2 img {
    width: 350px;
  }
  .container-button2 {
    width: 100px;
    height: 50px;
    margin-left: 130px;
    margin-top: 30px;
  }
  .container-button2 button {
    font-size: 16px;
  }
  .next-trip1 {
    display: inline;
  }
  .card3 i {
    width: 100px;
    height: 65.21px;
    border-radius: 13px;
    position: relative;
  }
  .content4 {
    width: 453.66px;
    padding-left: 10px;
  }
  .next-trip2 {
    border: none;
  }
  .People-review .card4 .firstImg img {
    display: none;
  }
  .card4 .review {
    display: flex;
    background-color: #f9f9f9;
    padding: 20px;
    margin: 30px;
  }
  .card4 .secondImg {
    position: relative;
    top: 0;
    left: 0;
  }
  .card4 p {
    width: 200px;
    text-align: left;
    position: relative;
    z-index: 1;
    top: 0px;
    left: 0px;
    padding: 0 0 0 20px;
  }
  .card4 h2 {
    position: relative;
    top: 0;
    padding-left: 20px;
    left: 0;
    z-index: 3;
  }
  .footer-part1 {
    width: 0px;
    border-radius: 0;
    display: inline;
    margin: 0;
  }
  .footer .footer-part1 .fa-paper-plane::before {
    display: none;
  }
  .footer-part1 h2 {
    font-size: 26px;
    color: rgba(94, 98, 130, 1);
    text-align: center;
    width: 219px;
    padding-top: 50px;
  }
  .footer-part2 {
    display: inline;
    position: absolute;
    left: 70px;
  }
  input {
    border: 1px solid black;
    width: 221px;
    height: 48px;
  }
  .fa-envelope::before {
    display: none;
  }
  .form {
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }
  .form button {
    width: 90px;
    height: 50px;
    font-size: 20px;
  }
  .container-button3 {
    margin-left: 10px;
  }
}
@media only screen and (max-width: 1020px) and (min-width: 450px) {
  /* @media only screen and (max-width: 920px) { */
  * {
    padding: 0;
    margin: 0;
  }
  .container1 {
    width: 890px;
    height: 1177px;
    background-image: url("images/img1.1.jpg");
  }
  .img1 {
    width: 890px;
  }
  .travelgo {
    left: 50px;
    top: 50px;
  }
  .travel {
    font-size: 46px;
  }
  .goo {
    font-size: 46px;
  }
  .menu {
    top: 58px;
    left: 170px;
    width: 500px;
    height: 27px;
  }
  nav ul {
    list-style: none;
    display: flex;
  }
  nav ul li {
    padding-left: 50px;
  }
  .fa-star-o::before {
    font-size: 36px;
  }
  .fa-star-o {
    top: 50px;
    left: 750px;
  }
  .fa-user-circle {
    font-size: 46px;
    position: absolute;
    height: 36px;
    top: 120px;
    left: 750px;
  }
  .container-text1 {
    font-size: 65px;
    width: 500px;
    /* height: 204px; */
    top: 350px;
    left: 200px;
  }
  .container-text2 {
    width: 400px;
    height: 44px;
    top: 650px;
    left: 250px;
  }
  .container-button {
    width: 200px;
    height: 100px;
    background: rgba(0, 166, 81, 1);
    position: absolute;
    top: 800px;
    left: 350px;
    z-index: 1;
    border-radius: 10px;
  }
  button {
    top: 7px;
    left: 8px;
    font-size: 36px;
  }
  .content {
    display: flex;
  }
  .container2 {
    width: 300px;
  }
  .record1 img {
    display: none;
  }
  .record1 h2 {
    position: relative;
    width: 500px;
    height: 108px;
    text-align: center;
    top: 0px;
    left: 250px;
  }
  .rec-para {
    display: none;
  }
  .cover {
    top: 20px;
    position: relative;
    left: 20px;
    display: flex;
  }
  .record2 {
    width: 250px;
    background-color: #f9f9f9;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
  }
  .record2 i {
    color: rgba(0, 95, 21, 1);
  }
  .record2 h2 {
    padding-top: 16px;
  }
  .img-content {
    display: inline;
  }
  .img-content .imgg img {
    display: none;
    /* background-color: rgba(0, 88, 83, 0.05); */
  }
  .place-cards {
    /* padding: 20px 0 50px 170px; */
    padding: 0 0 0 90px;
    text-align: center;
    height: 100hv;
    width: 100%;
    justify-content: space-between;
  }
  .card {
    width: 550px;
  }
  .place-cards .card .img4 img {
    width: 123px;
    height: 123px;
  }
  .place-cards .card p {
    padding-top: 61px;
    padding-left: 90px;
    font-size: 20px;
    font-weight: 600;
  }
  .service-name {
    display: flex;
    padding-left: 70px;
  }
  .content2 {
    display: grid;
    grid-template-columns: 370px 370px;
  }
  .card2 {
    width: 370px;
  }
  .best-services .content2 .card2 img {
    width: 370px;
  }
  .container-button2 {
    width: 200px;
    height: 100px;
    margin-left: 350px;
    margin-top: 30px;
  }
  .container-button2 button {
    font-size: 36px;
  }
  .next-trip1 {
    display: flex;
  }
  .card3 i {
    width: 65.21px;
    height: 65.21px;
    border-radius: 13px;
    position: relative;
  }
  .content4 {
    width: 453.66px;
    padding-left: 10px;
  }
  .next-trip2 {
    padding-left: 0;
    padding: 30px 0 0 0;
    border: none;
  }
  .People-review .card4 .firstImg img {
    display: none;
  }
  .People-review .card4 .firstImg img {
    display: none;
  }
  .card4 .review {
    display: flex;
    background-color: #f9f9f9;
    padding: 20px;
    margin: 30px;
  }
  .card4 .secondImg {
    position: relative;
    top: 0;
    left: 0;
  }
  .card4 p {
    width: 450px;
    text-align: left;
    position: relative;
    z-index: 1;
    top: 0px;
    left: 0px;
    padding: 20px 0 0 20px;
  }
  .card4 h2 {
    position: relative;
    top: 0;
    padding-left: 20px;
    left: 0;
    z-index: 3;
  }
  .footer-part1 {
    width: 0px;
    border-radius: 0;
    display: inline;
    margin: 0;
  }
  .footer .footer-part1 .fa-paper-plane::before {
    display: none;
  }
  .footer-part1 h2 {
    font-size: 26px;
    color: rgba(94, 98, 130, 1);
    text-align: center;
    width: 519px;
    padding-top: 50px;
  }

  input {
    border: 1px solid black;
    width: 221px;
    height: 48px;
  }
  .fa-envelope::before {
    display: none;
  }
  .form {
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }
  .form button {
    width: 90px;
    height: 50px;
    font-size: 20px;
  }
  .container-button3 {
    margin-left: 10px;
  }
  .footer-part2 {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-column-gap: 25vh;
    position: absolute;
    left: 70px;
  }
  .footer-button button {
    border: none;
    outline: none;
    box-shadow: none;
    background: none;
    background-color: rgba(8, 8, 9, 1);
    margin: 30px 30px 0 0;
    color: #ffffff;
    padding: 10px;
    border-radius: 17.5px;
    font-size: 20px;
  }
  .getiton2 {
    display: flex;
    justify-content: space-between;
  }
  .fa-apple {
    font-size: 20px;
  }
  .footer-part2 p {
    color: rgba(94, 98, 130, 1);
  }
  .footer-icon {
    display: flex;
  }
}
